{%extends 'MonBlog/base.html'%} {% block title %}Reset Page{% endblock title %}
{%load crispy_forms_tags%}{%block content%}
<div class="cover2">
  <div class="container">
    <div class="row mt-5 pt-3">
      <div class="col-md-6 offset-md-2">
        <div class="card my-3 shadow">
          <div class="card-body">
            <h4>Reset Page</h4>
            <hr />
            <div class="alert alert-info">
              Entrez votre adresse email et des instructions vous serons
              envoyées par mail afin de changer votre mot de passe.
            </div>
            <br />
            <form method="POST" enctype="multipart/form-data">
              {%csrf_token%} {{form|crispy}}
              <input
                class="btn btn-primary btn-block"
                type="submit"
                value="Changer le mot de passe"
              />
            </form>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock content%}
